numpy
scipy
pandas
upstox-python-sdk
websockets
requests
pytest
pytest-asyncio
pytest-mock
aiohttp==3.9.3
pytz
protobuf
sqlalchemy
aiopg
asyncpg
cryptography
redis
hiredis
smartapi-python
pyotp
kiteconnect
dhanhq
aiofiles
fastapi
jinja2
python-multipart
uvicorn[standard]
bcrypt==4.1.2
python-jose[cryptography]
Dhan-Tradehull
psutil>=5.9.0
dulwich>=1.2.0
